{% extends 'flatpages/default.html' %}

{% block title %}
Replies
{% endblock title %}

{% block content %}
<h1>Все отклики</h1>
<hr>
{% if replies %}
       <table class="table table-bordered">
           <tr>
               <td>Текст</td>
               <td>Дата создания</td>
               <td>Автор</td>
           </tr>
           {% for r in replies %}
           <tr>
               <td>{{ r.reply_text }}</a></td>
               <td>{{ r.time_create|date:'H:m d M Y' }}</td>
               <td>{{ r.user }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Откликов нет!</h2>
   {% endif %}
{% endblock content %}